* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  margin: 0;
}

.main-container {
  position: absolute;
  top: 5;
  /*Dimenzije*/
  width: 400px;
  height: 400px;
  /*Krug*/
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
  background: red;
  /*Centrirat items*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.border {
    /*Dimenzije*/
    width: 450px;
    height: 450px;
    /*Krug*/
    -webkit-border-radius: 450px;
    -moz-border-radius: 450px;
    border-radius: 450px;
    background: transparent;
    /*Centrirat items*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px dashed;
    animation: rotation 10s infinite linear;
    /*border colors*/
    border-top-color: blue;
    border-right-color: blue;
    border-bottom-color: yellow;
    border-left-color: yellow;
  }
  /*opposite direction*/
.border.open {
  animation: rotation 10s infinite reverse;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
